.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: calc(100% - 60px);
    padding: var(--page-padding-lg);
}