.home-page {
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.home-page-text {
  font-size: var(--large-text-size);
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

