.button {
  background-color: var(--primary-color);
  padding: var(--button-padding);
  border-radius: 8px;
}

.button text {
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
}

.button-disabled {
  opacity: 0.6;
}
